<p id="devoured-list">
    {{dataValues.id}}. {{dataValues.burger_name}}
    {{#if devoured}}
    <button class="change-devour" data-id="{{dataValues.id}}" data-newdevour="{{dataValues.devoured}}">
        Devour!
    </button>
    {{/if}}
</p>